<div class="container-full">
<div class="container-full">

      <div class="row">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>Payment</h1>

          <p class="lead">Your are about to pay BitPlaya for your Bitcoins</p>
          
          <br><br><br>

<%= form_tag payment_path do %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= params[:description]%>"
          data-currency="eur"          
          data-amount="<%= params[:amount].to_i*100%>"

          ></script>
<% end %>


        </div>
        
      </div> <!-- /row -->
</div>

